<!doctype html>
<title>Python Web Platform</title>
<script src="static/tools/jquery-ui-1.12.1/external/jquery/jquery-3.3.1.min.js"></script>
<script src="static/js/common.js"></script>
<script>
  function addUser(){
    // _url='../insjson';
    _url='../insjson?id=1';
    $.ajax({
       url:_url,
       type: "post",
       contentType:'application/json;charset=utf-8',
       dataType:"json",
       async:false,
       success: function(data){
          // alert(data[0].usrname);
          if(data.Code==999){
            alert('システムエラー：\n'+data.err);
            return;
            }
          if(data.Table0>0){
            alert('add success');
            Refresh();
          }
          else
            alert('del fail')
       }
    });
  }
  function delUser(_id){
    // _id=$('#txtID').val();
    // if(_id=='')
    // {
    //   alert('IDを入力してください');
    //   $('#txtID').focus();
    //   return;
    // }
    _url='../deltest?id=' + _id;
    $.ajax({
       url:_url,
       type: "post",
       contentType:'application/json;charset=utf-8',
       dataType:"json",
       async:false,
       success: function(data){
          // alert(data[0].usrname);
          if(data.Code==999){
            alert('システムエラー：\n'+data.err);
            return;
            }
          if(data.Table0>0){
            // alert('del success');
            Refresh();
          }
          else
            alert('del fail')
       }
    });
  }
function updateUser(){
  _txtname=$('#txtname').val();
  _id=$('#txtID').val();
    if(_id=='')
    {
      alert('IDを入力してください');
      $('#txtID').focus();
      return;
    }
    if(_txtname=='')
    {
      alert('nameを入力してください');
      $('#txtname').focus();
      return;
    }
  _url='../updatetest?id=' + _id+'&name='+_txtname;
  $.ajax({
	   url:_url,
	   type: "post",
	   contentType:'application/json;charset=utf-8',
	   dataType:"json",
     async:false,
	   success: function(data){
        // alert(data[0].usrname);
        if(data.Code==999){
          alert('システムエラー：\n'+data.err);
          Refresh();
          }
        if(data.Table0>0){
          alert('update success');
          Refresh();
          }
        else
          alert('update fail');
	   }
	});
}
</script>
<h1>Python Web Platform</h1>
<div class=page>
  <h2>Table0</h2>
  <input type="button" onclick="addUser()" value="データ追加" />&nbsp;
  <br>
  <br>
  <table border="1" cellpadding="10">

    <tr>
  
      <th>id</th>
  
      <th>name</th>

      <th>delete</th>
  
    </tr>
  
    {% for item in Table0 %}
  
      <tr>
  
      <td> {{ item.id }} </td>
  
      <td> {{ item.name }}  </td> 

      <td> <input type="button" onclick="delUser({{ item.id }})" style="float: left" value="削除データ" />  </td> 
  
      </tr>
  
    {% endfor %}
  
    </table>
    <h2>Table1</h2>
    <table border="1" cellpadding="10">

        <tr>
      
          <th>usrname</th>
      
          <th>email</th>

          <th>joindate</th>
      
        </tr>
      
        {% for item in Table1 %}
      
          <tr>
      
          <td> {{ item.usrname }} </td>
      
          <td> {{ item.email }}  </td> 
      
          <td> {{ item.joindate }}  </td> 
      
          </tr>
      
        {% endfor %}
      
        </table>

  <br>
  <br>
  <br>
  ログイン成功！
  <br>
  <br>
  ここはホムページです！
  <br>
  <br>
  <span style="float: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id:</span><input type="text" id="txtID" style="float: left" />

  <br>
  <br>


  <span style="float: left">name:</span><input type="text" id="txtname"  style="float: left"><br><br><br>
  
  <input type="button" onclick="updateUser()" value="データ更新" />
  
  <br>
  <br>

  <br>
  <br>
  <br>

  

</div>

# 