<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tre-Redmine</title>
    <script src="static/tools/jquery-ui-1.12.1/external/jquery/jquery-3.3.1.min.js"></script>
    <script src="static/tools/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="static/tools/select2/select2.min.js"></script>
    <script src="static/tools/datetimepicker/bootstrap-datetimepicker.js"></script>
    <script src="static/tools/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="static/tools/datetimepicker/bootstrap-datetimepicker.ja.js"></script>
    <script src="static/tools/ui.js/ui.min.js"></script>
    <script src="static/tools/toastr/toastr.min.js"></script>
    <script src="static/js/common.js"></script>

    <link rel="stylesheet" href="static/tools/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/tools/select2/select2.min.css" />
    <link rel="stylesheet" href="static/tools/proressbar/css/style.css" />
    <link rel="stylesheet" href="static/tools/datetimepicker/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="static/tools/radiobox/style.css" />
    <link rel="stylesheet" href="static/tools/ui.js/ui.min.css" />
    <link rel="stylesheet" href="static/tools/toastr/toastr.min.css" />
    
    <!-- 業務JS -->
    <script src="static/js/rm.js"></script>

  </head>
  <body>
      <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <ul id="myTab" class="nav nav-tabs">
      <li class="active">
        <a href="#home" data-toggle="tab">近況</a>
      </li>
      <li>
        <a href="#todo" data-toggle="tab" >Todo</a>
      </li>
      <li>
        <a href="#qcd" data-toggle="tab">QCD</a>
      </li>
      <li>
        <a href="#mgt" data-toggle="tab">Management</a>
      </li>
      <li>
        <a href="#edu" data-toggle="tab">Edu</a>
      </li>
      <li>
        <a href="#release" data-toggle="tab">Release</a>
      </li>
      <li>
        <a href="#shi" data-toggle="tab">Link</a>
      </li>
      <li class="dropdown">
        <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Other
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
          <li>
            <a href="#RedmineTool" tabindex="-1" data-toggle="tab">RedmineTool</a>
          </li>
          <li>
            <a href="#DevTool" tabindex="-1" data-toggle="tab">DevTool</a>
          </li>
          <li>
            <a href="#PJMTool" tabindex="-1" data-toggle="tab">PJMTool</a>
          </li>
          <li>
            <a href="#Knowledge" tabindex="-1" data-toggle="tab">Knowledge</a>
          </li>
        </ul>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content" style="padding:10px">
      <div class="tab-pane fade in active" id="home">
        <!-- <p class="text-center" style="margin-top: 100px">Loading...</p> -->
      </div>
      <div class="tab-pane fade" id="edu">
        <iframe src="https://calendar.google.com/calendar/b/1/embed?title=%E6%95%99%E8%82%B2%E3%82%AB%E3%83%AC%E3%83%B3%E3%83%80%E3%83%BC&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=2&amp;hl=ja&amp;bgcolor=%23FFFFFF&amp;src=chinakyouiku%40gmail.com&amp;color=%232952A3&amp;ctz=Asia%2FShanghai" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
      <div class="tab-pane fade" id="release">
        <iframe src="https://calendar.google.com/calendar/embed?src=vs1g2ujb7p1r456b62qs834gcc%40group.calendar.google.com&ctz=Asia%2FShanghai" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
      <div class="tab-pane fade " id="qcd">
        <div class="form-horizontal" style="width:95%">
          <div class="form-group">
            <label for="inputproject" class="col-xs-3 control-label">登録区分</label>
            <div class="col-xs-8">
              <div class="label_box">
                <label>
                        <input type="radio" name="ticketsel" id='ticketsel1'>
                        <div style="cursor:pointer;">チケットあり</div>
                 </label>
                <label>
                        <input type="radio" name="ticketsel" id='ticketsel2'>
                        <div style="cursor:pointer;">チケットなし</div>
                </label>
            </div>
            </div>
          </div>          
          <div class="form-group" id='tr_date'>
            <label for="inputproject" class="col-xs-3 control-label">日付</label>
            <div class="col-xs-8">
              <input id="date" type="text" class="form-control" readonly size="16">
            </div>
          </div>
          <div class="form-group" id='tr_pj'>
            <label for="inputproject" class="col-xs-3 control-label">課題</label>
            <div class="col-xs-8">
              <select class="js-example-basic-single form-control" id="select_pj" name="states[]" style="width: 100%">
                <option value=""></option>
              </select>
            </div>
          </div>
          <div class="form-group" id='tr_issue'>
            <label for="inputissue" class="col-xs-3 control-label">チケット</label>
            <div class="col-xs-8">
              <select class="js-example-basic-single form-control" id="select_issue" style="width: 100%">
                <option value=""></option>
              </select>
            </div>
          </div>
          <div class="form-group" id='tr_prog'>
            <label for="inputprs" class="col-xs-3 control-label">進捗</label>
            <div class="col-xs-8">
              <!-- <select class="js-example-basic-single form-control" id="select_issue" style="width: 100%">
                <option value=""></option>
              </select> -->
              <section class="containerpror">
                <div class="progress-number">
                <input type="radio" class="radio" name="progress" value="0" id="p0" checked>
                <label for="p0" class="labelpror" style="flex: 0 0 0.1%;">0%</label>
                <input type="radio" class="radio" name="progress" value="10" id="p10" >
                <label for="p10" class="labelpror" >10%</label>
                <input type="radio" class="radio" name="progress" value="20" id="p20" >
                <label for="p20" class="labelpror">20%</label>
                <input type="radio" class="radio" name="progress" value="30" id="p30" >
                <label for="p30" class="labelpror" >30%</label>
                <input type="radio" class="radio" name="progress" value="40" id="p40" >
                <label for="p40" class="labelpror" >40%</label>
                <input type="radio" class="radio" name="progress" value="50" id="p50" >
                <label for="p50" class="labelpror" >50%</label>
                <input type="radio" class="radio" name="progress" value="60" id="p60" >
                <label for="p60" class="labelpror" >60%</label>
                <input type="radio" class="radio" name="progress" value="70" id="p70" >
                <label for="p70" class="labelpror" >70%</label>
                <input type="radio" class="radio" name="progress" value="80" id="p80" >
                <label for="p80" class="labelpror" >80%</label>
                <input type="radio" class="radio" name="progress" value="90" id="p90" >
                <label for="p90" class="labelpror" >90%</label>
                <input type="radio" class="radio" name="progress" value="100" id="p100" >
                <label for="p100" class="labelpror" >100%</label>
              </div>
                <div class="progress">
                  <div id='prog-bar' class="progress-bar"></div>
                </div>
              </section>
              <!-- <input type="text" class="form-control" placeholder="メモ" id="inputprs"> -->
             
            </div>
          </div>
          <div class="form-group" id="tr_wt">
            <label for="inputworktype" class="col-xs-3 control-label">作業</label>
            <div class="col-xs-8">
              <select class="js-example-basic-single form-control" id="select_wt" style="width: 100%">
                <option value=""></option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputmemo" class="col-xs-3 control-label">コメント</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" placeholder="コメント" id="inputmemo">
            </div>
          </div>
          <div class="form-group">
            <label for="inputtime" class="col-xs-3 control-label">時間(Hour)</label>
            <div class="col-xs-2">
              <input type="text" class="form-control js-characters-change" placeholder="" id="inputtime" >

              <!-- <span>消費時間：</span><span id="sh_time"></span>
              <span>　推定時間：</span><span id="eh_time"></span> -->
            </div>
            <label id="sh_time"></label><label id="eh_time"></label>
            <label id="lab_time"class="control-label"></label>
          </div>
          <div class="form-group">
            <div class="col-xs-offset-3 col-xs-8">
              <button type="button" class="btn btn-primary" id="btnAddJS">登 録</button>
            </div>
          </div>

<!-- 
          <div class="form-group">
              <div class="col-xs-offset-3 col-xs-8">
                <table class="table table-hover" style="border: 1px solid #ccc;">
            <thead>
              <tr>
                <th>#</th>
                <th>ID</th>
                <th>用户名</th>
                <th>Email地址</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>1001</td>
                <td>张三</td>
                <td>zhangsan@trechina.com</td>
              </tr>
              <tr>
                <td>2</td>
                <td>1002</td>
                <td>李四</td>
                <td>lisi@trechina.com</td>
              </tr>
              <tr>
                <td>3</td>
                <td>1003</td>
                <td>王五</td>
                <td>wangwu@trechina.com</td>
              </tr>
              <tr>
                <td>4</td>
                <td>1004</td>
                <td>赵六</td>
                <td>zhaoliu@trechina.com</td>
              </tr>
            </tbody>
          </table>
              </div>
            </div> -->

        
        </div>


      </div>
      <div class="tab-pane fade" id="mgt">

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h4 class="list-group-item-heading">リソース管理</h4></div>
  <div class="panel-body">
    <p>TRE全体のリソース管理用のツール集</p>
  </div>

            <div class="list-group">
              <a href="http://10.100.1.99/QCD/QCD_CHECK.CGI" target="_blank" class="list-group-item">
                <h4 class="list-group-item-heading">要員別月間負荷(TRE部署)</h4>
                <p class="list-group-item-text">QCDに登録されてる見積要員別月間工数情報より集計したレポートになります。</p>
              </a>
              <a href="http://10.100.1.99/QCD/QCD_CHECK_SUM.CGI" target="_blank" class="list-group-item">
                <h4 class="list-group-item-heading">部署別月間負荷(TRE部署)</h4>
                <p class="list-group-item-text">QCDに登録されてる見積要員別月間工数情報より集計したレポートになります。</p>
              </a>
              <a href="http://10.100.1.99/QCD/QCD_CHECK_TREC.CGI" target="_blank" class="list-group-item">
                <h4 class="list-group-item-heading">TREChina要員別月間負荷状況</h4>
                <p class="list-group-item-text">QCDに登録されてる見積要員別月間工数情報より集計したレポートになります。<br />集計単位はチャイナ側の開発チーム単位です。</p>
              </a>

	      <a href="/cgi-bin/resource" target="_blank" class="list-group-item">
                <h4 class="list-group-item-heading">TREChina要員別週間負荷状況</h4>
                <p class="list-group-item-text">Redmineに登録されてるチケット予定より集計したレポートになります。</p>
              </a>

            </div>

  </div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h4 class="list-group-item-heading">プロジェクト管理PDCR</h4></div>
  <div class="panel-body">
    <p>プロジェクト推進状況のPDCRレポート</p>
  </div>

            <div class="list-group">
              <a href="/cgi-bin/projects" target="_blank" class="list-group-item">
                <h4 class="list-group-item-heading">課題別推進状況一覧</h4>
                <p class="list-group-item-text">Redmine上管理しているプロジェクトの情報のまとめレポートです。続けて改善する予定。</p>
              </a>
	    </div>

  </div>




      </div>
      <div class="tab-pane fade" id="shi">
        <ul>
          <li>
            <a href="http://redmine.trechina.cn/projects/personalgoal201801/issues?query_id=64" class="external" target="_blank">個人目標管理</a>
            <img src="http://www.pvhc.net/img1/wmdxhwvvvzadyfetxqda.png" style="width:45px;" alt="" />
          </li>
          <li>
            <a href="http://redmine.trechina.cn/projects/weeklyreport2018/issues?query_id=86" class="external" target="_blank">週報管理(採点中)</a>
            <img src="http://www.pvhc.net/img1/wmdxhwvvvzadyfetxqda.png" style="width:45px;" alt="" />
          </li>
          <li>
            <a href="http://redmine.trechina.cn/projects/trecmanage/wiki" class="external" target="_blank">週報管理(マニュアル)</a>
            <img src="http://www.pvhc.net/img1/wmdxhwvvvzadyfetxqda.png" style="width:45px;" alt="" />
          </li>
          <li>
            <a href="http://redmine.trechina.cn/projects/businesstrip2018/issues?per_page=100&#38;query_id=62" class="external" target="_blank">出張管理[煙台]</a>
          </li>
        </ul>
        <ul>
          <li>
            <a class="wiki-page" href="/projects/ytke/wiki/%E3%82%BE%E3%83%BC%E3%83%B3%E3%83%9E%E3%83%8D%E3%82%B8%E3%83%A1%E3%83%B3%E3%83%88" target="_blank">ゾーンマネジメント</a>
          </li>
          <li>
            <a class="wiki-page" href="/projects/redminegit/wiki/TRIAL%E3%81%AEAI" target="_blank">TRIALのAI</a>
          </li>
          <li>
            <a href="http://redmine.trechina.cn/projects/ito5managepublic/boards" class="external" target="_blank">ブログ</a>
            <img src="http://www.pvhc.net/img1/wmdxhwvvvzadyfetxqda.png" style="width:45px;" alt="" />
          </li>
        </ul>
      </div>
      <div class="tab-pane fade" id="todo">
        <table class="table" id="tblTodo"></table>


      </div>
      <div class="tab-pane fade" id="RedmineTool">
        <ul>
          <li>
            <a class="wiki-page" href="/projects/redminegit/wiki/Redmine_App_for_iPhone__Android" target="_blank">Redmine App for iPhone / Android</a>
          </li>
          <li>
            <a class="wiki-page" href="/projects/redminegit/wiki/Redmine%E3%83%9E%E3%83%8B%E3%83%A5%E3%82%A2%E3%83%AB" target="_blank">Redmineマニュアル</a>
          </li>
        </ul>
      </div>
      <div class="tab-pane fade" id="Knowledge">
        <li>
          <a class="wiki-page" href="/projects/treyantai/wiki" target="_blank">煙台拠点運営</a>
        </li>
        <li>
          <a class="wiki-page" href="/projects/quality/wiki/" target="_blank">品質仕組</a>
        </li>
        <li>
          <a class="wiki-page" href="/projects/crm/wiki/" target="_blank">CRM・PPM・TFS</a>
        </li>
        <li>
          <a class="wiki-page" href="/projects/pacer/wiki/" target="_blank">Pacer</a>
        </li>
        <li>
          <a class="wiki-page" href="/projects/tcloud/wiki/" target="_blank">TCloud</a>
        </li>
        <li>
          <a class="wiki-page" href="/projects/trialai/wiki/" target="_blank">AI</a>
        </li>
      </div>
      <div class="tab-pane fade" id="DevTool">
        <li>
          <a class="wiki-page" href="/projects/technicalstudy/wiki/JAVA基盤ドキュメント" target="_blank">Java基盤ドキュメント</a>
        </li>
        <li>
          <a class="wiki-page" href="/projects/technicalstudy/wiki/SMART開発ガイドライン" target="_blank">SMART開発ガイドライン</a>
        </li>
      </div>
      <div class="tab-pane fade" id="PJMTool">
        <li>
          <a class="wiki-page" href="/projects/pmo/wiki" target="_blank">プロジェクト管理者の道具箱</a>
        </li>
        <li>
          <a class="wiki-page" href="/cgi-bin/resource" target="_blank">人員週別リソース状況(Redmine)</a>
        </li>
        <li>
          <a class="wiki-page" href="http://10.100.1.99/QCD/QCD_CHECK.CGI" target="_blank">QCD人員月別負荷状況(TREJ部署)</a>
        </li>
        <li>
          <a class="wiki-page" href="http://10.100.1.99/QCD/QCD_CHECK_TREC.CGI" target="_blank">QCD人員月別負荷状況(TREC部署)</a>
        </li>
        <br />
        <li>
          <a href="http://redmine.trechina.cn/issues/imports/new" class="external" target="_blank">チケット一括登録</a>
        </li>
        <li>
          <a href="" class="external" target="_blank">スケジュール全体調整(開発中)</a>
        </li>
        <br />
        <li>
          <a href="http://redmine.trechina.cn/cgi-bin/projects" class="external" target="_blank">プロジェクト一覧</a>
        </li>
        <li>
          <a href="http://redmine.trechina.cn/cgi-bin/users" class="external" target="_blank">ユーザー一覧</a>
        </li>
      </div>
    </div>
  </body>
</html>
